<head>
  {% if page.title %}
    {% assign title = page.title %}
  {% else %}
    {% assign title = site.title %}
  {% endif %}

  {% if page.desc%}
    {% assign desc = page.desc %}
  {% elsif page.description %}
    {% assign desc = page.subtitle %}
  {% else %}
    {% assign desc = site.subtitle %}
  {% endif %}

  {% if page.keywords %}
    {% assign keywords = page.keywords %}
  {% else %}
    {% assign keywords = site.author | append: ", " | append:  site.title %}
  {% endif %}

  {% assign sitedir = site.url | append: site.baseurl | append: "/" %}
  {% assign favicon_location = sitedir | append: site.favicon_location %}

  <title>{{ title }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ desc }}">

  <!-- For Facebook -->
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:image" itemprop="image" content="/assets/images/logo.png" />
  <meta property="og:description" content="{{ desc }}" />

  <!-- For Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ desc }}" />
  <meta name="twitter:image" content="/assets/images/logo.png" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="icon" type="image/png" href="/assets/images/logo.png">
  <link rel="shortcut-icon" type="image/png" href="{{ favicon_location }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
