<link type="text/css" rel="stylesheet" href="/assets/css/queens-board.css"/>
<script type="text/javascript" src="/assets/js/jsqueens/constants.js"></script>
<script type="text/javascript" src="/assets/js/jsqueens/drawing.js"></script>
<script type="text/javascript" src="/assets/js/jsqueens/simulated_annealing.js"></script>
<script type="text/javascript" src="/assets/js/jsqueens/queens.js"></script>
<script type="text/javascript" src="/assets/js/jsqueens/console.js"></script>
<script type="text/javascript" src="/assets/js/jsqueens/graph.js"></script>
<script type="text/javascript" src="/assets/js/jsqueens/application.js"></script>
