<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      <h1 class="title">
        {% if page.title %}
        {{page.title}}
        {% else %}
        &nbsp;
        {% endif %}
      </h1>
      <nav>
	      <a href="/">home</a>&nbsp;&nbsp;
        <a href="/blog">blog</a>&nbsp;&nbsp;
        <a href="/poetry">poetry</a>&nbsp;&nbsp;
      </nav>

      <div class="content">
        {{ content }}
      </div>

      {% include footer.html %}
    </main>
  </body>
</html>
