<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <h1>
      {% if page.title %}
      {{page.title}}
      {% else %}
      Blog
      {% endif %}
    </h1>

    <nav>
      <div>
	      <a href="/">home</a> |
        <a href="/blog">blog</a> |
        <a href="/poetry">poetry</a> |
        <a target="_blank" href="/resume.pdf">resume</a>
      </div>
      <div>
        <a target="_blank" href="https://github.com/ebobby">github</a> |
        <a target="_blank" href="https://www.linkedin.com/in/franciscomsoto/">linkedin</a> |
        <a href="/readme">my readme</a>
      </div>
    </nav>

    <main class="content">
      {{ content }}
    </main>
  </body>
</html>
